﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://use.fontawesome.com/d8167c1bfa.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body id="page-top" class="index">
    @Html.Partial("_Navigation")

    @RenderBody()
    <hr />
    <footer class="text-center">
        <p>
            &copy; @DateTime.Now.Year - <a href="https://www.linkedin.com/in/conradjparker/">Conrad Parker</a>
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
