﻿<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">This is an ASP.NET C# application to select engineers to support the BAU process.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Monitoring</h4>
                <p class="text-muted">Select engineers to support the business.</p>

            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive Website Design</h4>
                <p class="text-muted">Use this on your mobile phone.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-exchange fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Full stack Development</h4>
                <p class="text-muted">UI to DB</p>
            </div>
        </div>
    </div>
</section>