﻿<section id="wheel" class="bg-info">
    <div ng-app="wheelOfFateApp" class="container">
        <div ng-controller="wheelOfFateController">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Spin the Wheel of Fate</h2>
                    <p>Shift date: <i ng-if="supportLoading" class="fa fa-refresh fa-spin"></i><span ng-if="!supportLoading"><b>{{nextShiftDate | date : "dd MMM y"}}</b></span></p>
                    <i class="fa fa-chevron-down"></i>
                    <br />
                    <button type="button" id="btnWheel" class="btn btn-primary" ng-click="getRandom2People()"><i class="fa fa-cog wheel fa-5x"></i></button>
                    <p class="alert-danger">{{error}}</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Next Lucky winners</h4>
                            <div class="row" ng-if="winnersLoading">
                                <div>
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4 text-center">
                                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                                    </div>
                                    <div class="col-xs-4"></div>
                                </div>
                            </div>
                            <div ng-if="winnersFound && !winnersLoading">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Date</td>
                                            <td>Morning Shift</td>
                                            <td>Afternoon Shift</td>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>{{nextShiftDate | date : "dd MMM y"}}</td>
                                        <td>{{morningWinner.name}}</td>
                                        <td>{{afternoonWinner.name}}</td>
                                    </tr>
                                </table>
                                <button ng-click="confirmWinners()" type="button" class="btn btn-primary" value="Confirm">Add to schedule</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>2 Week Schedule</h4>
                            <div class="row" ng-if="supportLoading">
                                <div>
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4 text-center">
                                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                                    </div>
                                    <div class="col-xs-4"></div>
                                </div>
                            </div>
                            <div class="row" ng-if="!supportLoading && supportLogs.length > 0">
                                <div class="col-md-12 text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Date</td>
                                                <td>Morning Shift</td>
                                                <td>Afternoon Shift</td>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="log in supportLogs | orderBy: 'logDate' ">
                                            <td>{{log.logDate | date : "dd MMM y"}}</td>
                                            <td>{{log.engineerNameMorning}}</td>
                                            <td>{{log.engineerNameAfternoon}}</td>
                                        </tr>
                                    </table>
                                    <button ng-if="supportLogs.length > 0" ng-click="removeLastShift()" type="button" class="btn btn-primary" value="Confirm">Remove Last Shift</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>