﻿<section id="work">
    <div class="container">
        <div class="jumbotron">
            <h1>Work Log</h1>
            <p class="lead">This log is to document my work during building this App.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Work</td>
                            <td>Tech</td>
                            <td>Hours</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10th Nov 2017</td>
                            <td>Initial project set up and database</td>
                            <td>Visual Studio / MVC / SQL Server</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>11th Nov 2017</td>
                            <td>Add API, data access layer, dependency injection and business layer for business logic</td>
                            <td>WebAPI2 / Entity Framework / Autofac / C#</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>12th Nov 2017</td>
                            <td>
                                Add to source control<br />
                                Get 2 random engineers with business logic and rules.<br />
                                Added Confirm button to store Winners.<br />
                                Added DTO layer and Mapping for displaying Support Log / Tidy UI
                            </td>
                            <td>GIT / Bitbucket / C# / LINQ / Angular / JQuery / Bootstrap</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>13th Nov 2017</td>
                            <td>Added Remove Button</td>
                            <td>Angular / C# / WebAPI2 / Entity Framework / LINQ</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>13th Nov 2017</td>
                            <td>Business Logic Testing<br />Unit Tests</td>
                            <td>C# / LINQ / MSTest</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>22nd Nov 2017</td>
                            <td>Unit Tests - Mocked Entity Framework DbContext<br/>UI Tidy</td>
                            <td>MSTest / Moq / Razor</td>
                            <td>4</td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td>TODO</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                More MSTest Unit tests<br />
                                Karma/Jasmine Unit tests<br />
                                Consider Weekends<br />
                                Consider Holidays<br />
                                Business rules logic<br />
                                Tidy Wheel of Fate section UI<br />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>