﻿<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">The BAU....</div>
            <div class="intro-heading">Support Wheel of Fate</div>
            <a href="#wheel" class="page-scroll btn btn-xl">Spin the Wheel</a>
        </div>
    </div>
</header>
@Html.Partial("_About")
@Html.Partial("_WheelOfFate")
@Html.Partial("_WorkLog")

@section scripts{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/Scripts/app/cbpAnimatedHeader.js"></script>
}